# dependencies
node_modules/
.pnpm-store/

# builds
.next/
dist/
out/
*.tsbuildinfo
next-env.d.ts

# turbo
.turbo/

# env
.env
.env.local
.env.*.local

# storage (dev filesystem driver)
.storage/

# test / coverage
coverage/
playwright-report/
test-results/

# misc
.DS_Store
*.log
npm-debug.log*
